*{
   border: 0;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   position: relative;
   top: 50px;
}

.links{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h1{
   padding-bottom: 15px;
}

a{
   outline: none;
   text-decoration: none;
   padding: 5px 12px;
}

button{
   border-radius: 15px;
   border: none;
   padding: 12px 20px;
}

.beginner{
   background-color: #639cf7;
}

.intermediate{
   background-color: #FFA500;
}

.advanced{
   background-color: #A52A2A;
}