*{
   border: 0;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 100vh;
}

.container .box{
   height: 600px;
   width: 600px;
   border: 2px solid black;
   margin-bottom: 2%;

   transition: .5s all ease;
}

.container .inputs{
   display: flex;
   flex-direction: row;
   border: 1px solid black;
}

.inputs #change-br{
   /* border: 1px solid black; */
   width: 550px;
   border-radius: 5px;
   padding: 8px 20px;
   margin: 8px 0;
}

.inputs #change-br:focus{
   outline: none;
}

.inputs #measure{
   width: 50px;
   padding: 0 5px;
   outline: none;
}

.container .color{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.container .color .info{
   padding: 0px 5px;
}

.container .color #show-color{
   outline: none;
}

.container .color #copy-color{
   background-color: transparent;
   font-size: 16px;
   cursor: pointer;
}

#error-message{
   color: red;
   font-size: 12px;
}