*{
   border: 0;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif; 
}

.container{
   height: 100vh;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   margin-top: 20px;
}

.content .input-number{
   font-size: 1.5em;
   width: 550px;
   border-radius: 5px;
   padding: 8px 20px;
   margin: 8px 0;
   outline: none;
}

.content #convert-button{
   background-color: #3cb371;
   color: white;
   cursor: pointer;
   font-size: 1.5em;
   width: 550px;
   outline: none;
   border-radius: 5px;
   padding: 5px 12px;

   transition: .5s ease
}

.content .error-message{
   color: #ef5b5b;
   display: none;
}